@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: black !important;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(52, 52, 52);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.global-layout-margin {
  padding-left: 100px !important;
  padding-right: 100px !important;
}