.header_wrapper {
    display: none;
    height: 95vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev_projects_wrapper {
    margin-top: 100px;
}

.design_projects_wrapper {
    margin-top: 100px;
}

.research_projects_wrapper {
    margin-top: 100px;
}