.header_wrapper {
    height: 95vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    color: white;
    width: 75%;
    line-height: 1.3;
    font-weight: 400;
}

.get_resume {
    margin-top: 40px;
    width: 180px;
    height: 55px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    border: none;
}