.get_resume {
    margin-top: 40px;
    width: 180px;
    height: 55px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    border: none;
}

.heading {
    color: white;
    width: 75%;
    line-height: 1.3;
    font-weight: 400;
}

.project_card {
    background-color: #191919;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #4b4b4b5c;
}

.card_1 {
    width: 85%;
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.card_2 {
    width: 95%;
}

.card_3 {
    width: 90%;
}

.second_row {
    margin-top: 40px;
}

.done_icon {
    width: 8px;
    height: 8px;
    background: #80F822;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: doneBlinkAnimation 1.5s linear infinite;
}


@keyframes doneBlinkAnimation {
    0% {
        background: #80F822;
    }

    100% {
        background: #80F822;
    }

    50% {
        background: #000000;
    }
}

.ongoing_icon {
    width: 8px;
    height: 8px;
    background: #ffaa0c;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: ongoingBlinkAnimation 1.5s linear infinite;
}

@keyframes ongoingBlinkAnimation {
    0% {
        background: #ffaa0c;
    }

    100% {
        background: #ffaa0c;
    }

    50% {
        background: #000000;
    }
}

.tech_stack {
    display: flex;
}

.tech_stack img:first-child {
    margin-left: 0px;
}

.tech_stack img {
    margin-left: 8px;
}